body {
    font-family: Arial;
}

/* FLEX CONTAINER */
.container {
    display: flex;
    justify-content: center;   /* căn ngang */
    align-items: center;       /* căn dọc */
    gap: 20px;                 /* khoảng cách */
    height: 300px;
    background: #f2f2f2;
}

/* FLEX ITEMS */
.item {
    width: 100px;
    height: 100px;
    background: orange;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}